# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost:5672
RABBITMQ_IMAGE_QUEUE=image_queue
RABBITMQ_ANALYZED_QUEUE=analyzed_queue

# PostgreSQL Configuration
DB_POSTGRES_HOST=localhost
DB_POSTGRES_USER=postgres
DB_POSTGRES_PORT=5432
DB_POSTGRES_PASSWORD=mysecretpassword
DB_POSTGRES_NAME=image-service
DB_POSTGRES_TRIGGER=false

# Prisma Configuration
DATABASE_URL="postgresql://postgres:your_postgres_password@localhost:5432/image-service"

# Redis Configuration
DB_REDIS_HOST=localhost
DB_REDIS_PORT=6379
DB_REDIS_TTL=60

# AWS S3 Configuration
AWS_S3_ACCESS_KEY_ID=your_aws_s3_access_key_id
AWS_S3_SECRET_ACCESS_KEY=your_aws_s3_secret_access_key
AWS_S3_REGION=ap-northeast-1
AWS_S3_PUBLIC_BUCKET=your_s3_public_bucket
